@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reem+Kufi:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0, 0%, 98%;
    --neutral-1: 0, 0%, 90%;
    --neutral-2: 0, 0%, 24%;
    --neutral-3: 0, 0%, 7%;

    --primary: 45, 91%, 66%;
    --secondary: 256, 87%, 44%;
    --third: 194, 90%, 67%;
    --fourth: 336, 79%, 55%;
    --primary-2: 45, 95%, 75%;
    --secondary-2: 256, 98%, 58%;
    --third-2: 194, 93%, 77%;
    --fourth-2: 336, 72%, 67%;

    scroll-behavior: smooth;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  body {
    @apply bg-background text-neutral3;
    scroll-behavior: smooth;
  }

  h1 {
    @apply font-afacad text-[37px]
  }

  h2 {
    @apply font-afacad text-[30px]
  }

  h3 {
    @apply font-afacad text-[28px]
  }

  h4 {
    @apply font-afacad text-[20px]
  }

  h5 {
    @apply font-afacad text-[14px]
  }

  p {
    @apply font-montserrat
  }
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: hsl(var(--secondary));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.animate-hidden-top {
  opacity: 0;
  filter: blur(5px);
  transform: translatey(-300%);
  transition: all 1.5s;
}


.animate-hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1.5s;
}

.animate-hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

@media(prefers-reduced-motion) {

  .animate-hidden-left,
  .animate-hidden-right {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.f-image:nth-child(2) {
  transition-delay: 200ms;
}

.blob1 {
  position: absolute;
  opacity: 0.5;
  width: 400px;
  aspect-ratio: 1/1;
  animation: animate-1 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(47deg,
      rgba(255, 88, 139, 1) 21%,
      rgb(0 164 173) 67%,
      rgba(118, 74, 166, 1) 81%);

  /*  Optional  */
  box-shadow: inset 50px 50px 17px 0px #ff588b,
    inset 100px 100px 17px 0px #66319f;
}

.blob2 {
  position: absolute;
  opacity: 0.5;
  width: 400px;
  aspect-ratio: 1/1;
  animation: animate-2 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(47deg,
      rgba(255, 88, 139, 1) 21%,
      rgb(0 164 173) 67%,
      rgba(118, 74, 166, 1) 81%);

  /*  Optional  */
  box-shadow: inset 50px 50px 17px 0px #ff588b,
    inset 100px 100px 17px 0px #66319f;
}

@keyframes animate-1 {
  0% {
    translate: 40% -25%;
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }

  50% {
    translate: 0% 13%;
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }

  100% {
    translate: -45% 39%;
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}

@keyframes animate-2 {
  0% {
    translate: 30% -40%;
    border-radius: 50% 60% 80% 50% / 70% 90% 80% 60%;
    rotate: 0deg;
    scale: 1;
  }

  50% {
    translate: 20% 30%;
    border-radius: 40% 80% 60% 50% / 75% 60% 80% 40%;
    rotate: 60deg;
    scale: 1.1;
  }

  100% {
    translate: 35% 50%;
    border-radius: 55% 65% 75% 85% / 65% 55% 95% 50%;
    rotate: -40deg;
    scale: 1.05;
  }
}